
<mat-nav-list >
    <div >
        <h3 mat>
            Menu
        </h3>
    </div>
    <br>
    <br>
    <mat-divider class="material-devider"  ></mat-divider>
    
    <a   style="color: aliceblue;" mat-list-item routerLinkActive="list-item-active" routerLink="/home" ><mat-icon> 
        home </mat-icon>Home</a> 
    
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/aboutus" style="color: aliceblue;" ><mat-icon>info</mat-icon>About</a> 
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/terms"style="color: aliceblue;" ><mat-icon>bookmark</mat-icon>Terms & Condition</a> 
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/privacy" style="color: aliceblue;"><mat-icon>bookmark</mat-icon>Privacy Notice</a> 
   
    <br>
  
   
    <mat-divider class="material-devider"></mat-divider>
    <br>
    <br>
    <h4>Follow Us</h4>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/contacts" style="color: aliceblue;">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        Facebook
    </a>  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts" style="color: aliceblue;">
        <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>
        Google
    </a>  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts" style="color: aliceblue;">
        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>Twitter
    </a>
         
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts" style="color: aliceblue;">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>Instagram
    </a>    
    <br>  
    <mat-divider class="material-devider"></mat-divider>
    <br>
   
    <br>
    <h4>Contact Us</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts" style="color: aliceblue;">
    <mat-icon>phone
    </mat-icon>077-7777777
    </a>  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts" style="color: aliceblue;">
    <mat-icon>email
    </mat-icon>Email
    </a>    
    <br>
    <br>
    <br>
    <br>
</mat-nav-list>