<h1 style="font-family: 'Open Sans', sans-serif;">Health Care Service</h1>

   
   <img class="background" @fadein
    src="./assets/mid.png" alt="">
    
<body @fadein>   
  
    <div class="row">
        <div class="column">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-title>Covid-19 Deatils</mat-card-title>
                <mat-card-subtitle>You Care</mat-card-subtitle>
                <mat-card-content>
                  <p>Update Latest Info about COVID</p>
                  <p> <mat-icon>add_circle</mat-icon> </p>
                </mat-card-content>
                <mat-card-actions>
               <a routerLink="/covid" >
                  <button mat-icon-button  >
                    <mat-icon>touch_app</mat-icon>
                  </button></a>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-title>Medicine</mat-card-title>
                <mat-card-subtitle>You Care</mat-card-subtitle>
                <mat-card-content>
                  <p>To Your Doorstep.</p>
                  <p><mat-icon>add_circle</mat-icon></p>
                </mat-card-content>
                <mat-card-actions>
                 
                  <button mat-icon-button>
                    <mat-icon>touch_app</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-title>Channeling</mat-card-title>
                <mat-card-subtitle>You Care</mat-card-subtitle>
                <mat-card-content>
                  <p>Easy and fastes Channeling.</p>
                  <p><mat-icon>add_circle</mat-icon></p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-icon-button>
                    <mat-icon>touch_app</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <mat-card class="example-card">
                <mat-card-title>Health Tips</mat-card-title>
                <mat-card-subtitle>You Care</mat-card-subtitle>
                <mat-card-content>
                  <p>Tips For Your Life easier.</p>
                  <p><mat-icon>add_circle</mat-icon></p>
                </mat-card-content>
                <mat-card-actions>
                 <a href="https://www.healthline.com/nutrition/27-health-and-nutrition-tips" target="blank">
                  <button mat-icon-button>
                    <mat-icon>touch_app</mat-icon></button></a>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
      </div>
 
      
  </body>    