<section class="showcase">
    <header>
      <h2 class="logo">
          <img src="./assets/200.png" alt="">
      </h2>
      <div class="toggle"></div>
    </header>
    <video src="./assets/hc.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Wellcome </h2> 
      <h3>You Care Service</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a routerLink="/home">GO to Home</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>


<a href="#" class="neon-button">Neon</a>
  </section>
